# Autoreconf stage files:
/autom4te.cache
/config.h.in~

# Configure stage files:
*.c.d
*.cu.d
*.f90.d
.dirstamp
/Makefile
/c_binding.d
/claw.mk
/confdefs.h
/config.cache
/config.cache.externals.*
/config.h
/config.log
/config.status
/depgen.c.config
/depgen.f90.config
/deplist.config
/extra_f90.d
/icon.mk

# Build stage files:
*.i
*.o
*.lst
/bin/icon
/mod
/pp
/srclist
/version.c

# Dist stage files:
/icon-*.tar.bz2

# Extra sources that are not treated as submodules:
/externals/art

# Mac OS files:
*.dSYM
.DS_Store

# Other files:
*#
*.settings
*~
.cproject
.history
.project
.status.file
/Rakefile
/tempList
cdo_diffn*.out
experiments*
src/lnd_phy_jsbach

