*.settings
.cproject
.project
.history
/Rakefile
/tempList
.DS_Store
/Makefile
/build
/build_command
/config/config.h
config.log
config.status
config/mh-config-use
config/set-up.info
src/lnd_phy_jsbach
src/art
*.o
*~
.status.file
cdo_diffn*.out
experiments*
run/*.run
run/*.status
run/*_status
*#
autom4te.cache
externals/bin/
externals/lib/
externals/include/
externals/sct/
externals/cdi/
externals/ecrad/*/*.i
externals/ecrad/*/*.lst
externals/ecrad/Makefile_include.ecradICON
