[submodule "externals/mtime"]
        path = externals/mtime
	url = git@gitlab.dkrz.de:icon-libraries/libmtime.git
[submodule "externals/jsbach"]
        path = externals/jsbach
	url = git@gitlab.dkrz.de:jsbach/jsbach.git
	ignore = untracked
[submodule "externals/yac"]
        path = externals/yac
	url = git@gitlab.dkrz.de:dkrz-sw/YAC.git
[submodule "externals/tixi"]
        path = externals/tixi
	url = git@gitlab.dkrz.de:icon-libraries/libtixi.git
[submodule "externals/yaxt"]
        path = externals/yaxt
	url = git@gitlab.dkrz.de:dkrz-sw/yaxt.git
[submodule "externals/rte-rrtmgp"]
	path = externals/rte-rrtmgp
        url = https://github.com/earth-system-radiation/rte-rrtmgp.git
[submodule "externals/cub"]
        path = externals/cub
        url = https://github.com/NVlabs/cub.git
[submodule "externals/omni-xmod-pool"]
	path = externals/omni-xmod-pool
	url = https://github.com/claw-project/omni-xmod-pool.git
[submodule "externals/cdi"]
	path = externals/cdi
	url = git@gitlab.dkrz.de:mpim-sw/libcdi.git
[submodule "externals/sct"]
	path = externals/sct
	url = git@gitlab.dkrz.de:dkrz-sw/sct.git
[submodule "externals/ecrad"]
	path = externals/ecrad
	url = git@gitlab.dkrz.de:dwd-sw/libecrad.git
[submodule "externals/dace_icon"]
	path = externals/dace_icon
	url = git@gitlab.dkrz.de:dwd-sw/dace-icon-interface.git
	ignore = untracked
[submodule "externals/emvorado"]
	path = externals/emvorado
	url = git@gitlab.dkrz.de:dwd-sw/emvorado-for-icon.git
	ignore = untracked
[submodule "utils/mkexp"]
	path = utils/mkexp
	url = https://git.mpimet.mpg.de/public/mkexp
[submodule "externals/art"]
	path = externals/art
	url = git@gitlab.dkrz.de:art/art.git
	ignore = untracked
